<h4>Filters</h4>
<ul class="nav nav-sidebar">
  <%= render 'filters_sidebar_by_state' %>
  <%= render 'filters_sidebar_by_gender' %>
  <%= render 'filters_sidebar_by_type' %>
  <%= render 'filters_sidebar_by_credentials' %>
</ul>