<li class="nav-header">
  By State
</li>
<% for row in @search.facet(:provider_state).rows.first(5) %>
  <li>
    <% if params[:provider_state].blank? %>
    <h6>
      <%= link_to row.value, medicare_payments_path(:search => params[:search], :provider_gender => params[:provider_gender], :provider_type => params[:provider_type], :provider_state => row.value) %>
      <span class="pull-right"><%= number_with_precision(row.count, :precision => 0, :delimiter => ",") %></span>
    </h6>
    <% else %>
      <h6>
      <strong><%= row.value %></strong> (<%= link_to "remove", medicare_payments_path(:search => params[:search], :provider_gender => params[:provider_gender], :provider_type => params[:provider_type], :provider_credentials => params[:provider_credentials], :provider_state => nil) %>)
      </h6>
    <% end %>
  </li>
<% end %>